doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
  
    - var title = "Mi Gran Libro";
    - var author = "Luis";
    - var theGreat = "Muy Genial"

    h1= title
    p Escrito por #{author}
    p Esto es: #{theGreat}
    - var msg = "No robar derechos de autor";
    p Significa #{msg.toUpperCase()}
    - var riskyBusiness = "<em>Some of the girls are wearing my mother's clothing.</em>";
    .quote
    p Joel: !{riskyBusiness}